.container {
	margin-top: 80px;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #080808;
}
.table-search,.table-score{
	margin-top: 15px;
}
.table-search th,.table-search td,.table-score th,.table-score td{
	/*text-align: center;*/
}
.margin-top-15{
	margin-top: 15px;
}
button.list-group-item{
	text-align: center;
}
@media (max-width: 768px) {
	.container {
		margin-top: 130px;
	}
}